.navigation-bar{
  background-color: black;
}

h1{
  float:left;
  color:grey;
  padding-top:0;
  margin: 5px;
}

ul{
  list-style-type: none;
  margin:10px;
  padding:0;
  float:right;
  overflow: hidden;
}



li{
  display:inline-block;

}

li a{
  text-decoration: none;
  padding: 14px 14px;
  text-align: center;
  font-size: 17px;
  color:grey;
  font-weight: bold;

}
